Terraform/.terraform
Terraform/.terraform.lock.hcl
Terraform/terraform.tfstate
Terraform/terraform.tfstate.*
Terraform/terraform.tfvars
Terraform/*.pem
*.tfstate*
*.pem
*:Zone.Identifier
awscliv2
awscliv2/*
# Logs y backups de monitorizacion
monitorizacion-ia/logs/
*.log
*.bak
*.save
__pycache__/
